<div *ngIf="currentStatus">
  <p>Started {{getAge()}} ago</p>
  <table>
    <tr>
      <td>
        <table border="1">
          <tr>
            <td [class.pattern-match]="currentStatus.mainJobStatus.childReport.eligible">{{currentStatus.jobConfig.childInterval}}</td>
            <td [class.in-interval]="currentStatus.mainJobStatus.childReport.currentInInterval">{{currentStatus.mainJobStatus.childReport.currentValue | number:'1.2-2'}}</td>
            <td>({{currentStatus.mainJobStatus.childMinRsi | number:'1.2-2'}} - {{currentStatus.mainJobStatus.childMaxRsi | number:'1.2-2'}})</td>
          </tr>
          <tr>
            <td [class.in-interval]="currentStatus.mainJobStatus.parentReport.currentInInterval">{{currentStatus.jobConfig.parentInterval}}</td>
            <td [class.in-interval]="currentStatus.mainJobStatus.parentReport.currentInInterval">{{currentStatus.mainJobStatus.parentReport.currentValue | number:'1.2-2'}}</td>
            <td>({{currentStatus.mainJobStatus.parentMinRsi | number:'1.2-2'}} - {{currentStatus.mainJobStatus.parentMaxRsi | number:'1.2-2'}})</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <input type="button" class="action" (click)="sellAll()" value="Sell All" />
              <input type="button" class="action" (click)="makeNewOrders()" value="Search new orders" />
              <input type="button" class="action" (click)="setCoinNames()" value="Set coin names" />
              <input type="button" class="action" (click)="resetProfile()" value="Reset profile" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<table width="50%">
  <tr>
    <td width="50%">
      <advanced-details></advanced-details>
    </td>
    <td width="50%">
      <config></config>
    </td>
  </tr>
</table>
